In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from IPython.display import Image

# 4.1 ë°ì´í„° ë³‘í•©
- ë°ì´í„°ëŠ” ì—¬ëŸ¬ íŒŒì¼ì— ë¶„ì‚°, ë°ì´í„°ë² ì´ìŠ¤ì— ë³´ê´€/ê¸°ë¡ ë“± ë‹¤ì–‘í•œ í˜•íƒœë¡œ ì¡´ì¬í•¨
- í©ì–´ì ¸ ìˆëŠ” ë°ì´í„°ë¥¼ ë³‘í•©í•˜ëŠ” ì‘ì—…ì´ ì¤‘ìš”

## ğŸ“Œ ë°ì´í„° ìœ„ ì•„ë˜ë¡œ ì—°ê²°í•˜ê¸°
1. concat()
2. append()

### concat() : ê³µí†µ ì»¬ëŸ¼ ì—†ì´ë„ ê°€ëŠ¥

In [3]:
# Series ë³‘í•©

menu1 = pd.Series(['íŒŒìŠ¤íƒ€', 'ë¼ë©˜', 'ëƒ‰ë©´'], index=[1, 2, 3])
menu2 = pd.Series(['ëˆê°€ìŠ¤', 'í”¼ì', 'ì¹˜í‚¨'], index=[4, 5, 6])
pd.concat([menu1, menu2])

1    íŒŒìŠ¤íƒ€
2     ë¼ë©˜
3     ëƒ‰ë©´
4    ëˆê°€ìŠ¤
5     í”¼ì
6     ì¹˜í‚¨
dtype: object

In [2]:
# Dataframe ë³‘í•©

data1 = pd.DataFrame({'ìŒì‹ëª…' : ['ëˆê°€ìŠ¤', 'ì¹˜í‚¨', 'í”¼ì', 'ì´ˆë°¥', 'ë¼ë©˜', 'ëƒ‰ë©´'],
                                         'ì¹´í…Œê³ ë¦¬' : ['ì¼ì‹', 'í•œì‹', 'ì–‘ì‹', 'ì¼ì‹', 'ì¼ì‹', 'í•œì‹']
                     })
data1

   ìŒì‹ëª… ì¹´í…Œê³ ë¦¬
0  ëˆê°€ìŠ¤   ì¼ì‹
1   ì¹˜í‚¨   í•œì‹
2   í”¼ì   ì–‘ì‹
3   ì´ˆë°¥   ì¼ì‹
4   ë¼ë©˜   ì¼ì‹
5   ëƒ‰ë©´   í•œì‹

In [3]:
data2 = pd.DataFrame({'ìŒì‹ëª…' : ['ê°ˆë¹„íƒ•', 'ì™„íƒ•ë©´', 'ë§ˆë¼íƒ•', 'íŒŒìŠ¤íƒ€', 'ì«„ë©´', 'ìš°ë™'],
                                         'ì¹´í…Œê³ ë¦¬' : ['í•œì‹', 'ì¤‘ì‹', 'ì¤‘ì‹', 'ì–‘ì‹', 'í•œì‹', 'í•œì‹']
                     })
data2

   ìŒì‹ëª… ì¹´í…Œê³ ë¦¬
0  ê°ˆë¹„íƒ•   í•œì‹
1  ì™„íƒ•ë©´   ì¤‘ì‹
2  ë§ˆë¼íƒ•   ì¤‘ì‹
3  íŒŒìŠ¤íƒ€   ì–‘ì‹
4   ì«„ë©´   í•œì‹
5   ìš°ë™   í•œì‹

In [7]:
pd.concat([data1, data2], ignore_index=True) #ignore_index : ê¸°ì¡´ ì¸ë±ìŠ¤ ë¬´ì‹œí•˜ê³  ìƒˆë¡­ê²Œ ì •ì˜

    ìŒì‹ëª… ì¹´í…Œê³ ë¦¬
0   ëˆê°€ìŠ¤   ì¼ì‹
1    ì¹˜í‚¨   í•œì‹
2    í”¼ì   ì–‘ì‹
3    ì´ˆë°¥   ì¼ì‹
4    ë¼ë©˜   ì¼ì‹
5    ëƒ‰ë©´   í•œì‹
6   ê°ˆë¹„íƒ•   í•œì‹
7   ì™„íƒ•ë©´   ì¤‘ì‹
8   ë§ˆë¼íƒ•   ì¤‘ì‹
9   íŒŒìŠ¤íƒ€   ì–‘ì‹
10   ì«„ë©´   í•œì‹
11   ìš°ë™   í•œì‹

In [8]:
pd.concat([data1, data2], keys=['data1', 'data2']) #keys : ë°ì´í„° ì¶œì²˜ ì‚½ì…

         ìŒì‹ëª… ì¹´í…Œê³ ë¦¬
data1 0  ëˆê°€ìŠ¤   ì¼ì‹
      1   ì¹˜í‚¨   í•œì‹
      2   í”¼ì   ì–‘ì‹
      3   ì´ˆë°¥   ì¼ì‹
      4   ë¼ë©˜   ì¼ì‹
      5   ëƒ‰ë©´   í•œì‹
data2 0  ê°ˆë¹„íƒ•   í•œì‹
      1  ì™„íƒ•ë©´   ì¤‘ì‹
      2  ë§ˆë¼íƒ•   ì¤‘ì‹
      3  íŒŒìŠ¤íƒ€   ì–‘ì‹
      4   ì«„ë©´   í•œì‹
      5   ìš°ë™   í•œì‹

In [4]:
data3 =  pd.DataFrame({'ìŒì‹ëª…' : ['ê°ˆë¹„íƒ•', 'ì™„íƒ•ë©´', 'ë§ˆë¼íƒ•', 'íŒŒìŠ¤íƒ€', 'ì«„ë©´', 'ìš°ë™'],
                                         'íŒë§¤ì¸ê¸°ì§€ì—­' : ['ì „ì£¼', 'ì„œìš¸', 'ì„œìš¸', 'ë¶€ì‚°', 'ì œì£¼', 'ì¸ì²œ']
                     })
data3

   ìŒì‹ëª… íŒë§¤ì¸ê¸°ì§€ì—­
0  ê°ˆë¹„íƒ•     ì „ì£¼
1  ì™„íƒ•ë©´     ì„œìš¸
2  ë§ˆë¼íƒ•     ì„œìš¸
3  íŒŒìŠ¤íƒ€     ë¶€ì‚°
4   ì«„ë©´     ì œì£¼
5   ìš°ë™     ì¸ì²œ

In [10]:
# ì„œë¡œ ë‹¤ë¥¸ ì»¬ëŸ¼ì´ ì¡´ì¬í•˜ëŠ” ë°ì´í„° í•©ì¹˜ëŠ” ê²½ìš°
# í•©ì§‘í•©ì¸ outer join ìœ¼ë¡œ ì ìš©ë˜ì–´ ì»¬ëŸ¼ì— ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ê°’ì€ NaNìœ¼ë¡œ ì¶œë ¥ë¨

pd.concat([data1, data3], ignore_index=True)

    ìŒì‹ëª… ì¹´í…Œê³ ë¦¬ íŒë§¤ì¸ê¸°ì§€ì—­
0   ëˆê°€ìŠ¤   ì¼ì‹    NaN
1    ì¹˜í‚¨   í•œì‹    NaN
2    í”¼ì   ì–‘ì‹    NaN
3    ì´ˆë°¥   ì¼ì‹    NaN
4    ë¼ë©˜   ì¼ì‹    NaN
5    ëƒ‰ë©´   í•œì‹    NaN
6   ê°ˆë¹„íƒ•  NaN     ì „ì£¼
7   ì™„íƒ•ë©´  NaN     ì„œìš¸
8   ë§ˆë¼íƒ•  NaN     ì„œìš¸
9   íŒŒìŠ¤íƒ€  NaN     ë¶€ì‚°
10   ì«„ë©´  NaN     ì œì£¼
11   ìš°ë™  NaN     ì¸ì²œ

In [11]:
# ì„œë¡œ ë‹¤ë¥¸ ì»¬ëŸ¼ì´ ì¡´ì¬í•˜ëŠ” ë°ì´í„° í•©ì¹˜ëŠ” ê²½ìš°
# êµì§‘í•©ì¸ ë¶€ë¶„ë§Œ ì–»ê³  ì‹¶ë‹¤ë©´, join='inner' ë³€ìˆ˜ ì ìš©

pd.concat([data1, data3], ignore_index=True, join='inner')

    ìŒì‹ëª…
0   ëˆê°€ìŠ¤
1    ì¹˜í‚¨
2    í”¼ì
3    ì´ˆë°¥
4    ë¼ë©˜
5    ëƒ‰ë©´
6   ê°ˆë¹„íƒ•
7   ì™„íƒ•ë©´
8   ë§ˆë¼íƒ•
9   íŒŒìŠ¤íƒ€
10   ì«„ë©´
11   ìš°ë™

### append() : concat ë§Œí¼ ìì£¼ ì‚¬ìš©ë˜ì§€ëŠ” ì•ŠìŒ (ë§¤ê°œë³€ìˆ˜ê°€ ì ì€í¸)

In [12]:
data1.append(data2, ignore_index=True)

C:\Users\serye\AppData\Local\Temp\ipykernel_9144\1075396360.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data1.append(data2, ignore_index=True)

    ìŒì‹ëª… ì¹´í…Œê³ ë¦¬
0   ëˆê°€ìŠ¤   ì¼ì‹
1    ì¹˜í‚¨   í•œì‹
2    í”¼ì   ì–‘ì‹
3    ì´ˆë°¥   ì¼ì‹
4    ë¼ë©˜   ì¼ì‹
5    ëƒ‰ë©´   í•œì‹
6   ê°ˆë¹„íƒ•   í•œì‹
7   ì™„íƒ•ë©´   ì¤‘ì‹
8   ë§ˆë¼íƒ•   ì¤‘ì‹
9   íŒŒìŠ¤íƒ€   ì–‘ì‹
10   ì«„ë©´   í•œì‹
11   ìš°ë™   í•œì‹

In [13]:
# ì„œë¡œ ë‹¤ë¥¸ ì»¬ëŸ¼ì´ ì¡´ì¬í•˜ëŠ” ë°ì´í„° í•©ì¹˜ëŠ” ê²½ìš°
# í•©ì§‘í•©ì¸ outer join ìœ¼ë¡œ ì ìš©ë˜ì–´ ì»¬ëŸ¼ì— ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ê°’ì€ NaNìœ¼ë¡œ ì¶œë ¥ë¨

data1.append(data3, ignore_index=True)

C:\Users\serye\AppData\Local\Temp\ipykernel_9144\828153218.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data1.append(data3, ignore_index=True)

    ìŒì‹ëª… ì¹´í…Œê³ ë¦¬ íŒë§¤ì¸ê¸°ì§€ì—­
0   ëˆê°€ìŠ¤   ì¼ì‹    NaN
1    ì¹˜í‚¨   í•œì‹    NaN
2    í”¼ì   ì–‘ì‹    NaN
3    ì´ˆë°¥   ì¼ì‹    NaN
4    ë¼ë©˜   ì¼ì‹    NaN
5    ëƒ‰ë©´   í•œì‹    NaN
6   ê°ˆë¹„íƒ•  NaN     ì „ì£¼
7   ì™„íƒ•ë©´  NaN     ì„œìš¸
8   ë§ˆë¼íƒ•  NaN     ì„œìš¸
9   íŒŒìŠ¤íƒ€  NaN     ë¶€ì‚°
10   ì«„ë©´  NaN     ì œì£¼
11   ìš°ë™  NaN     ì¸ì²œ

## ğŸ“Œ ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„° ë³‘í•© (ì¢Œìš°ì—°ê²°)
1. concat()
2. metge()
3. join()

### ë°ì´í„° ì¢Œìš° ì—°ê²°í•˜ê¸°

### concat()

In [14]:
#concat() ì˜ axis=1 ì§€ì • ì‹œ ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„° ì—°ê²°ë¨
#ë°ì´í„°ì— ê³µí†µ ì»¬ëŸ¼ì´ ì¡´ì¬í•˜ì§€ ì•Šì•„ë„ ì˜†ìœ¼ë¡œ ë³‘í•© ê°€ëŠ¥

pd.concat([data1, data2], axis=1)

   ìŒì‹ëª… ì¹´í…Œê³ ë¦¬  ìŒì‹ëª… ì¹´í…Œê³ ë¦¬
0  ëˆê°€ìŠ¤   ì¼ì‹  ê°ˆë¹„íƒ•   í•œì‹
1   ì¹˜í‚¨   í•œì‹  ì™„íƒ•ë©´   ì¤‘ì‹
2   í”¼ì   ì–‘ì‹  ë§ˆë¼íƒ•   ì¤‘ì‹
3   ì´ˆë°¥   ì¼ì‹  íŒŒìŠ¤íƒ€   ì–‘ì‹
4   ë¼ë©˜   ì¼ì‹   ì«„ë©´   í•œì‹
5   ëƒ‰ë©´   í•œì‹   ìš°ë™   í•œì‹

### íŠ¹ì • ì»¬ëŸ¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„° ë³‘í•©

In [5]:
print(data1)
print(data2)
print(data3)
data4 = pd.concat([data1, data2], ignore_index=True)
print(data4)

   ìŒì‹ëª… ì¹´í…Œê³ ë¦¬
0  ëˆê°€ìŠ¤   ì¼ì‹
1   ì¹˜í‚¨   í•œì‹
2   í”¼ì   ì–‘ì‹
3   ì´ˆë°¥   ì¼ì‹
4   ë¼ë©˜   ì¼ì‹
5   ëƒ‰ë©´   í•œì‹
   ìŒì‹ëª… ì¹´í…Œê³ ë¦¬
0  ê°ˆë¹„íƒ•   í•œì‹
1  ì™„íƒ•ë©´   ì¤‘ì‹
2  ë§ˆë¼íƒ•   ì¤‘ì‹
3  íŒŒìŠ¤íƒ€   ì–‘ì‹
4   ì«„ë©´   í•œì‹
5   ìš°ë™   í•œì‹
   ìŒì‹ëª… íŒë§¤ì¸ê¸°ì§€ì—­
0  ê°ˆë¹„íƒ•     ì „ì£¼
1  ì™„íƒ•ë©´     ì„œìš¸
2  ë§ˆë¼íƒ•     ì„œìš¸
3  íŒŒìŠ¤íƒ€     ë¶€ì‚°
4   ì«„ë©´     ì œì£¼
5   ìš°ë™     ì¸ì²œ
    ìŒì‹ëª… ì¹´í…Œê³ ë¦¬
0   ëˆê°€ìŠ¤   ì¼ì‹
1    ì¹˜í‚¨   í•œì‹
2    í”¼ì   ì–‘ì‹
3    ì´ˆë°¥   ì¼ì‹
4    ë¼ë©˜   ì¼ì‹
5    ëƒ‰ë©´   í•œì‹
6   ê°ˆë¹„íƒ•   í•œì‹
7   ì™„íƒ•ë©´   ì¤‘ì‹
8   ë§ˆë¼íƒ•   ì¤‘ì‹
9   íŒŒìŠ¤íƒ€   ì–‘ì‹
10   ì«„ë©´   í•œì‹
11   ìš°ë™   í•œì‹

In [23]:
data3

   ìŒì‹ëª… íŒë§¤ì¸ê¸°ì§€ì—­
0  ê°ˆë¹„íƒ•     ì „ì£¼
1  ì™„íƒ•ë©´     ì„œìš¸
2  ë§ˆë¼íƒ•     ì„œìš¸
3  íŒŒìŠ¤íƒ€     ë¶€ì‚°
4   ì«„ë©´     ì œì£¼
5   ìš°ë™     ì¸ì²œ

In [20]:
data4

    ìŒì‹ëª… ì¹´í…Œê³ ë¦¬
0   ëˆê°€ìŠ¤   ì¼ì‹
1    ì¹˜í‚¨   í•œì‹
2    í”¼ì   ì–‘ì‹
3    ì´ˆë°¥   ì¼ì‹
4    ë¼ë©˜   ì¼ì‹
5    ëƒ‰ë©´   í•œì‹
6   ê°ˆë¹„íƒ•   í•œì‹
7   ì™„íƒ•ë©´   ì¤‘ì‹
8   ë§ˆë¼íƒ•   ì¤‘ì‹
9   íŒŒìŠ¤íƒ€   ì–‘ì‹
10   ì«„ë©´   í•œì‹
11   ìš°ë™   í•œì‹

### merge()

In [22]:
# merge() : ì¼ë°˜ì ìœ¼ë¡œ ë°ì´í„° ë³‘í•© ì‹œ ìì£¼ ì‚¬ìš©ë˜ëŠ” í•¨ìˆ˜
# key : ê¸°ì¤€ì´ ë˜ëŠ” ì»¬ëŸ¼ê³¼ í–‰ ë°ì´í„°
# inner joinì—°ì‚°

pd.merge(data3, data4)

   ìŒì‹ëª… íŒë§¤ì¸ê¸°ì§€ì—­ ì¹´í…Œê³ ë¦¬
0  ê°ˆë¹„íƒ•     ì „ì£¼   í•œì‹
1  ì™„íƒ•ë©´     ì„œìš¸   ì¤‘ì‹
2  ë§ˆë¼íƒ•     ì„œìš¸   ì¤‘ì‹
3  íŒŒìŠ¤íƒ€     ë¶€ì‚°   ì–‘ì‹
4   ì«„ë©´     ì œì£¼   í•œì‹
5   ìš°ë™     ì¸ì²œ   í•œì‹

â–¶ ê³µí†µ ì»¬ëŸ¼ì¸ 'ìŒì‹ëª…'ì„ ê¸°ë¶„ìœ¼ë¡œ ë°ì´í„°ë¥¼ í•©ì¹˜ê³  ê·¸ ì»¬ëŸ¼ì´ keyê°€ ë¨

In [6]:
data5 = data4.merge(data3)
data5

   ìŒì‹ëª… ì¹´í…Œê³ ë¦¬ íŒë§¤ì¸ê¸°ì§€ì—­
0  ê°ˆë¹„íƒ•   í•œì‹     ì „ì£¼
1  ì™„íƒ•ë©´   ì¤‘ì‹     ì„œìš¸
2  ë§ˆë¼íƒ•   ì¤‘ì‹     ì„œìš¸
3  íŒŒìŠ¤íƒ€   ì–‘ì‹     ë¶€ì‚°
4   ì«„ë©´   í•œì‹     ì œì£¼
5   ìš°ë™   í•œì‹     ì¸ì²œ

In [8]:
data6 = data4.merge(data3, how='outer')
data6

    ìŒì‹ëª… ì¹´í…Œê³ ë¦¬ íŒë§¤ì¸ê¸°ì§€ì—­
0   ëˆê°€ìŠ¤   ì¼ì‹    NaN
1    ì¹˜í‚¨   í•œì‹    NaN
2    í”¼ì   ì–‘ì‹    NaN
3    ì´ˆë°¥   ì¼ì‹    NaN
4    ë¼ë©˜   ì¼ì‹    NaN
5    ëƒ‰ë©´   í•œì‹    NaN
6   ê°ˆë¹„íƒ•   í•œì‹     ì „ì£¼
7   ì™„íƒ•ë©´   ì¤‘ì‹     ì„œìš¸
8   ë§ˆë¼íƒ•   ì¤‘ì‹     ì„œìš¸
9   íŒŒìŠ¤íƒ€   ì–‘ì‹     ë¶€ì‚°
10   ì«„ë©´   í•œì‹     ì œì£¼
11   ìš°ë™   í•œì‹     ì¸ì²œ

In [10]:
#data6ì˜ í‚¤ ê°’ê³¼ ë™ì¼í•œ ê°’ì„ ê°€ì§„ ë˜ ë‹¤ë¥¸ ë°ì´í„° ìƒì„±
data7 = pd.DataFrame({'íŒë§¤ì¸ê¸°ì§€ì—­': ['ì„œìš¸', 'ë¶€ì‚°', 'ì „ì£¼', 'ì¸ì²œ'],
                                         'ì˜¤í”ˆì‹œê°„' : ['10ì‹œ', '11ì‹œ', '12ì‹œ', '13ì‹œ']
                     })
data7

  íŒë§¤ì¸ê¸°ì§€ì—­ ì˜¤í”ˆì‹œê°„
0     ì„œìš¸  10ì‹œ
1     ë¶€ì‚°  11ì‹œ
2     ì „ì£¼  12ì‹œ
3     ì¸ì²œ  13ì‹œ

In [11]:
pd.merge(data6, data7)

   ìŒì‹ëª… ì¹´í…Œê³ ë¦¬ íŒë§¤ì¸ê¸°ì§€ì—­ ì˜¤í”ˆì‹œê°„
0  ê°ˆë¹„íƒ•   í•œì‹     ì „ì£¼  12ì‹œ
1  ì™„íƒ•ë©´   ì¤‘ì‹     ì„œìš¸  10ì‹œ
2  ë§ˆë¼íƒ•   ì¤‘ì‹     ì„œìš¸  10ì‹œ
3  íŒŒìŠ¤íƒ€   ì–‘ì‹     ë¶€ì‚°  11ì‹œ
4   ìš°ë™   í•œì‹     ì¸ì²œ  13ì‹œ

### join()

In [12]:
#join() : ê²¹ì¹˜ëŠ” ì»¬ëŸ¼ì´ ìˆë‹¤ë©´ suffixë¥¼ ì§€ì •í•´ì£¼ì–´ì•¼ í•¨

data6.join(data7, lsuffix='_left_key', rsuffix='_right_key')

    ìŒì‹ëª… ì¹´í…Œê³ ë¦¬ íŒë§¤ì¸ê¸°ì§€ì—­_left_key íŒë§¤ì¸ê¸°ì§€ì—­_right_key ì˜¤í”ˆì‹œê°„
0   ëˆê°€ìŠ¤   ì¼ì‹             NaN               ì„œìš¸  10ì‹œ
1    ì¹˜í‚¨   í•œì‹             NaN               ë¶€ì‚°  11ì‹œ
2    í”¼ì   ì–‘ì‹             NaN               ì „ì£¼  12ì‹œ
3    ì´ˆë°¥   ì¼ì‹             NaN               ì¸ì²œ  13ì‹œ
4    ë¼ë©˜   ì¼ì‹             NaN              NaN  NaN
5    ëƒ‰ë©´   í•œì‹             NaN              NaN  NaN
6   ê°ˆë¹„íƒ•   í•œì‹              ì „ì£¼              NaN  NaN
7   ì™„íƒ•ë©´   ì¤‘ì‹              ì„œìš¸              NaN  NaN
8   ë§ˆë¼íƒ•   ì¤‘ì‹              ì„œìš¸              NaN  NaN
9   íŒŒìŠ¤íƒ€   ì–‘ì‹              ë¶€ì‚°              NaN  NaN
10   ì«„ë©´   í•œì‹              ì œì£¼              NaN  NaN
11   ìš°ë™   í•œì‹              ì¸ì²œ              NaN  NaN

In [15]:
#ê¸°ì¤€ì´ ë˜ëŠ” ì»¬ëŸ¼ì„ on ë³€ìˆ˜ì— ì •ì˜

data6.join(data7.set_index('íŒë§¤ì¸ê¸°ì§€ì—­'), on='íŒë§¤ì¸ê¸°ì§€ì—­')

    ìŒì‹ëª… ì¹´í…Œê³ ë¦¬ íŒë§¤ì¸ê¸°ì§€ì—­ ì˜¤í”ˆì‹œê°„
0   ëˆê°€ìŠ¤   ì¼ì‹    NaN  NaN
1    ì¹˜í‚¨   í•œì‹    NaN  NaN
2    í”¼ì   ì–‘ì‹    NaN  NaN
3    ì´ˆë°¥   ì¼ì‹    NaN  NaN
4    ë¼ë©˜   ì¼ì‹    NaN  NaN
5    ëƒ‰ë©´   í•œì‹    NaN  NaN
6   ê°ˆë¹„íƒ•   í•œì‹     ì „ì£¼  12ì‹œ
7   ì™„íƒ•ë©´   ì¤‘ì‹     ì„œìš¸  10ì‹œ
8   ë§ˆë¼íƒ•   ì¤‘ì‹     ì„œìš¸  10ì‹œ
9   íŒŒìŠ¤íƒ€   ì–‘ì‹     ë¶€ì‚°  11ì‹œ
10   ì«„ë©´   í•œì‹     ì œì£¼  NaN
11   ìš°ë™   í•œì‹     ì¸ì²œ  13ì‹œ

## ğŸ“Œkey ì»¬ëŸ¼ì— ê°™ì€ ë°ì´í„° ê°’ì´ ì—¬ëŸ¬ ê°œ ìˆëŠ” ê²½ìš° ë°ì´í„° ë³‘í•©í•˜ê¸°

In [16]:
menu_price = pd.DataFrame({
    'ìŒì‹ëª…' : ['ëˆê°€ìŠ¤', 'ëˆê°€ìŠ¤', 'íŒŒìŠ¤íƒ€', 'íŒŒìŠ¤íƒ€', 'íŒŒìŠ¤íƒ€']
    , 'ê°€ê²©' : ['11000', '15000', '19000', '18000', '16000']
})
menu_price

   ìŒì‹ëª…     ê°€ê²©
0  ëˆê°€ìŠ¤  11000
1  ëˆê°€ìŠ¤  15000
2  íŒŒìŠ¤íƒ€  19000
3  íŒŒìŠ¤íƒ€  18000
4  íŒŒìŠ¤íƒ€  16000

In [17]:
menu_location = pd.DataFrame({
    'ìŒì‹ëª…' : ['ëˆê°€ìŠ¤', 'íŒŒìŠ¤íƒ€', 'íŒŒìŠ¤íƒ€', 'í”¼ì', 'í”¼ì']
    , 'ë§¤ì¥ìœ„ì¹˜' : ['ê´‘í™”ë¬¸', 'ì„ì§€ë¡œ', 'ëª…ë™', 'ì—¬ì˜ë„', 'ê°€ë¡œìˆ˜ê¸¸']
})
menu_location

   ìŒì‹ëª…  ë§¤ì¥ìœ„ì¹˜
0  ëˆê°€ìŠ¤   ê´‘í™”ë¬¸
1  íŒŒìŠ¤íƒ€   ì„ì§€ë¡œ
2  íŒŒìŠ¤íƒ€    ëª…ë™
3   í”¼ì   ì—¬ì˜ë„
4   í”¼ì  ê°€ë¡œìˆ˜ê¸¸

In [18]:
#í‚¤ ê°’ì´ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ìˆëŠ” ê²½ìš° ê°€ëŠ¥í•œ ê²½ìš°ì˜ ìˆ˜ë¥¼ ì¡°í•©í•˜ì—¬ ë³‘í•©

pd.merge(menu_price, menu_location)

   ìŒì‹ëª…     ê°€ê²© ë§¤ì¥ìœ„ì¹˜
0  ëˆê°€ìŠ¤  11000  ê´‘í™”ë¬¸
1  ëˆê°€ìŠ¤  15000  ê´‘í™”ë¬¸
2  íŒŒìŠ¤íƒ€  19000  ì„ì§€ë¡œ
3  íŒŒìŠ¤íƒ€  19000   ëª…ë™
4  íŒŒìŠ¤íƒ€  18000  ì„ì§€ë¡œ
5  íŒŒìŠ¤íƒ€  18000   ëª…ë™
6  íŒŒìŠ¤íƒ€  16000  ì„ì§€ë¡œ
7  íŒŒìŠ¤íƒ€  16000   ëª…ë™

## ğŸ“Œë™ì¼í•œ ì»¬ëŸ¼ëª…ì´ ì¡´ì¬í•˜ì§€ë§Œ, key ì»¬ëŸ¼ì´ ë˜ë©´ ì•ˆ ë˜ëŠ” ê²½ìš°

In [19]:
menu1 = pd.DataFrame({
    'ìŒì‹ëª…': ['ì´ˆë°¥', 'ì§œì¥ë©´']
    ,'íŒë§¤ë‚ ì§œ' : ['2024-04-01', '2024-03-12']
    ,'ë©”ëª¨' : ['20000', '15000']
})
menu1

   ìŒì‹ëª…        íŒë§¤ë‚ ì§œ     ë©”ëª¨
0   ì´ˆë°¥  2024-04-01  20000
1  ì§œì¥ë©´  2024-03-12  15000

In [20]:
menu2 = pd.DataFrame({
    'ìŒì‹ëª…': ['ì´ˆë°¥', 'ì§œì¥ë©´']
    ,'ë©”ëª¨' : ['ì¼ì‹', 'ì¤‘ì‹']
})
menu2

   ìŒì‹ëª…  ë©”ëª¨
0   ì´ˆë°¥  ì¼ì‹
1  ì§œì¥ë©´  ì¤‘ì‹

In [21]:
pd.merge(menu1, menu2)

Empty DataFrame
Columns: [ìŒì‹ëª…, íŒë§¤ë‚ ì§œ, ë©”ëª¨]
Index: []

â–¶ ë™ì¼í•œ ì´ë¦„ì˜ ì»¬ëŸ¼ ì¤‘ ì–´ëŠ ê²ƒì„ keyë¡œ ë³‘í•©í• ì§€ ì •í•´ì£¼ì§€ ì•Šì•˜ìœ¼ë¯€ë¡œ ì–´ë– í•œ ë°ì´í„°ë„ ì¶œë ¥ë˜ì§€ ì•ŠìŒ

In [22]:
pd.merge(menu1, menu2, on='ìŒì‹ëª…')

   ìŒì‹ëª…        íŒë§¤ë‚ ì§œ   ë©”ëª¨_x ë©”ëª¨_y
0   ì´ˆë°¥  2024-04-01  20000   ì¼ì‹
1  ì§œì¥ë©´  2024-03-12  15000   ì¤‘ì‹

## ğŸ“Œì„œë¡œ ë‹¤ë¥¸ key ì»¬ëŸ¼ì„ ê°€ì§„ ë°ì´í„° ë³‘í•©
- left_on / right_on ì„ ì‚¬ìš©í•˜ì—¬ key ëª…ì‹œí•´ì£¼ê¸°

In [23]:
menu_price = pd.DataFrame({
    'ìŒì‹ëª…': ['ì´ˆë°¥', 'ì§œì¥ë©´', 'ì´ˆë°¥']
    ,'ê°€ê²©' : ['20000', '8000', '16000']
})
menu_price

   ìŒì‹ëª…     ê°€ê²©
0   ì´ˆë°¥  20000
1  ì§œì¥ë©´   8000
2   ì´ˆë°¥  16000

In [24]:
menu_score = pd.DataFrame({
    'ë©”ë‰´': ['ì´ˆë°¥', 'ì§œì¥ë©´', 'ì§œì¥ë©´']
    ,'ë‹¨ê°€' : ['20000', '8000', '7000']
})
menu_score

    ë©”ë‰´     ë‹¨ê°€
0   ì´ˆë°¥  20000
1  ì§œì¥ë©´   8000
2  ì§œì¥ë©´   7000

In [26]:
pd.merge(menu_price, menu_score, left_on = 'ìŒì‹ëª…', right_on='ë©”ë‰´')

   ìŒì‹ëª…     ê°€ê²©   ë©”ë‰´     ë‹¨ê°€
0   ì´ˆë°¥  20000   ì´ˆë°¥  20000
1   ì´ˆë°¥  16000   ì´ˆë°¥  20000
2  ì§œì¥ë©´   8000  ì§œì¥ë©´   8000
3  ì§œì¥ë©´   8000  ì§œì¥ë©´   7000

â–¶ 'ìŒì‹ëª…'ê³¼ 'ë©”ë‰´'ì˜ ì»¬ëŸ¼ì˜ ê°’ì€ ë™ì¼í•˜ë¯€ë¡œ drop()ì„ í†µí•´ ì‚­ì œê°€ëŠ¥

In [27]:
pd.merge(menu_price, menu_score, left_on = 'ìŒì‹ëª…', right_on='ë©”ë‰´').drop('ë©”ë‰´', axis=1)

   ìŒì‹ëª…     ê°€ê²©     ë‹¨ê°€
0   ì´ˆë°¥  20000  20000
1   ì´ˆë°¥  16000  20000
2  ì§œì¥ë©´   8000   8000
3  ì§œì¥ë©´   8000   7000

## ğŸ“Œì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„° ë³‘í•©

In [29]:
#ìŒì‹ ì´ë¦„ì´ ì¸ë±ìŠ¤ì¸ ë°ì´í„° 2ê°œ ìƒì„±

menuD1 = pd.DataFrame(
    [20000, 15000, 12000, 13000, 15000]
    ,index=['ì´ˆë°¥', 'ì´ˆë°¥', 'ê°ˆë¹„íƒ•', 'ê°ˆë¹„íƒ•', 'ê°ˆë¹„íƒ•']
    ,columns=['ê°€ê²©']
)

menuD1

        ê°€ê²©
ì´ˆë°¥   20000
ì´ˆë°¥   15000
ê°ˆë¹„íƒ•  12000
ê°ˆë¹„íƒ•  13000
ê°ˆë¹„íƒ•  15000

In [30]:
menuD2 = pd.DataFrame(
     [12000, 7000, 8000, 9000, 25000]
    ,index=['ê°ˆë¹„íƒ•', 'ì§œì¥ë©´', 'ì§œì¥ë©´', 'ì§œì¥ë©´', 'íƒ•ìˆ˜ìœ¡']
    ,columns=['ê°€ê²©']
)

menuD2

        ê°€ê²©
ê°ˆë¹„íƒ•  12000
ì§œì¥ë©´   7000
ì§œì¥ë©´   8000
ì§œì¥ë©´   9000
íƒ•ìˆ˜ìœ¡  25000

In [31]:
#ìœ„ 2ê°œì˜ ë°ì´í„°í”„ë ˆì„ì„ ê·¸ëŒ€ë¡œ ë³‘í•©í•˜ë©´ ê¸°ì¡´ì˜ ì¸ë±ìŠ¤ëŠ” ì‚¬ë¼ì§
#ê¸°ì¡´ ì¸ë±ìŠ¤ë¥¼ ì‚´ë¦¬ê¸° ìœ„í•´ì„œëŠ” left_index & right_indexë¥¼ Trueë¡œ ì§€ì •

pd.merge(menuD1, menuD2, how='outer', left_index=True, right_index=True)

        ê°€ê²©_x     ê°€ê²©_y
ê°ˆë¹„íƒ•  12000.0  12000.0
ê°ˆë¹„íƒ•  13000.0  12000.0
ê°ˆë¹„íƒ•  15000.0  12000.0
ì§œì¥ë©´      NaN   7000.0
ì§œì¥ë©´      NaN   8000.0
ì§œì¥ë©´      NaN   9000.0
ì´ˆë°¥   20000.0      NaN
ì´ˆë°¥   15000.0      NaN
íƒ•ìˆ˜ìœ¡      NaN  25000.0

## ğŸ“Œì¸ë±ìŠ¤ê°€ ê²¹ì¹˜ëŠ” ë°ì´í„° ë³‘í•© ì‹œ ê²°ì¸¡ê°’ ì²˜ë¦¬

In [37]:
data1 = pd.DataFrame({
    'ìŒì‹ëª…' : ['ëˆê°€ìŠ¤', np.nan, 'ì´ˆë°¥', 'ì¹˜í‚¨', np.nan]
    ,'ì¹´í…Œê³ ë¦¬' : ['ì¼ì‹', 'ì–‘ì‹', np.nan, 'ì–‘ì‹', 'ì¤‘ì‹']
    ,'íŒë§¤ì¸ê¸°ì§€ì—­' : [np.nan, 'ë¶€ì‚°', 'ì œì£¼', 'ì„œìš¸', 'ì œì£¼']
})
data1

   ìŒì‹ëª… ì¹´í…Œê³ ë¦¬ íŒë§¤ì¸ê¸°ì§€ì—­
0  ëˆê°€ìŠ¤   ì¼ì‹    NaN
1  NaN   ì–‘ì‹     ë¶€ì‚°
2   ì´ˆë°¥  NaN     ì œì£¼
3   ì¹˜í‚¨   ì–‘ì‹     ì„œìš¸
4  NaN   ì¤‘ì‹     ì œì£¼

In [38]:
data2 = pd.DataFrame({
    'ìŒì‹ëª…' : [np.nan, 'ëƒ‰ë©´', 'ì´ˆë°¥', 'ì¹˜í‚¨', 'íƒ•ìˆ˜ìœ¡']
    ,'ì¹´í…Œê³ ë¦¬' : ['ì¼ì‹', np.nan, 'ì–‘ì‹', 'ì–‘ì‹', np.nan]
})
data2

   ìŒì‹ëª… ì¹´í…Œê³ ë¦¬
0  NaN   ì¼ì‹
1   ëƒ‰ë©´  NaN
2   ì´ˆë°¥   ì–‘ì‹
3   ì¹˜í‚¨   ì–‘ì‹
4  íƒ•ìˆ˜ìœ¡  NaN

In [39]:
data1.combine_first(data2)

   ìŒì‹ëª… ì¹´í…Œê³ ë¦¬ íŒë§¤ì¸ê¸°ì§€ì—­
0  ëˆê°€ìŠ¤   ì¼ì‹    NaN
1   ëƒ‰ë©´   ì–‘ì‹     ë¶€ì‚°
2   ì´ˆë°¥   ì–‘ì‹     ì œì£¼
3   ì¹˜í‚¨   ì–‘ì‹     ì„œìš¸
4  íƒ•ìˆ˜ìœ¡   ì¤‘ì‹     ì œì£¼

â–¶ data2ì— ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ì»¬ëŸ¼ì˜ ê²°ì¸¡ê°’ì€ ê·¸ëŒ€ë¡œ ìœ ì§€ë¨

# 4.2 ë°ì´í„° ì¬í˜•ì„±ê³¼ í”¼ë²—

## ğŸ“Œì»¬ëŸ¼ì„ ì¸ë±ìŠ¤ë¡œ êµí™˜

In [40]:
#ì‹±ê¸€ì¸ë±ìŠ¤ì˜ ê²½ìš°

coffee_size_data = pd.DataFrame(
    [[10, 28], [8, 22]]
    ,index=['ìŠ¤íƒ€ë²…ìŠ¤', 'ì»¤í”¼ë¹ˆ']
    ,columns=['í…Œì´ë¸”ìˆ˜', 'ë§¤ì¥ê·œëª¨(í‰)']
)

coffee_size_data

      í…Œì´ë¸”ìˆ˜  ë§¤ì¥ê·œëª¨(í‰)
ìŠ¤íƒ€ë²…ìŠ¤    10       28
ì»¤í”¼ë¹ˆ      8       22

In [41]:
#ë°ì´í„°ì˜ ì»¬ëŸ¼ì„ ì¸ë±ìŠ¤ë¡œ êµí™˜

coffee_size_data.stack()

ìŠ¤íƒ€ë²…ìŠ¤  í…Œì´ë¸”ìˆ˜       10
      ë§¤ì¥ê·œëª¨(í‰)    28
ì»¤í”¼ë¹ˆ   í…Œì´ë¸”ìˆ˜        8
      ë§¤ì¥ê·œëª¨(í‰)    22
dtype: int64

In [43]:
#ì¸ë±ìŠ¤ êµí™˜ ì› ìƒíƒœë¡œ ë˜ëŒë¦¬ê¸°

coffee_size_data.stack().unstack()

      í…Œì´ë¸”ìˆ˜  ë§¤ì¥ê·œëª¨(í‰)
ìŠ¤íƒ€ë²…ìŠ¤    10       28
ì»¤í”¼ë¹ˆ      8       22

## ğŸ“Œë°ì´í„° í”¼ë²—í•˜ê¸°
- ë°ì´í„°ë¥¼ ë³€í˜•í•˜ì—¬ ë‹¤ì–‘í•œ ê´€ì ì—ì„œ ë³¼ ìˆ˜ ìˆìŒ
1. pivot()
2. pivot_table()

In [44]:
#ì£¼ì‹ ë°ì´í„° ë¡œë“œ

data_stock = pd.read_csv('./bumping-into-data-analysis-main/datasets/stock_data.csv')
data_stock.head()

         date symbol     open     high      low    close   volume
0  2019-03-01   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  2019-03-04   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  2019-03-05   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  2019-03-06   AMZN  1695.97  1697.75  1668.28  1668.95  3996001
4  2019-03-07   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

In [45]:
#ê¸°ì—…ëª…(symbol) ì»¬ëŸ¼ì„ ì¸ë±ìŠ¤ë¡œ í•˜ì—¬ ë‚ ì§œë³„ ê±°ë˜ëŸ‰ í™•ì¸í•˜ê¸°

data_stock.pivot(index='symbol', columns='date', values='volume')

date    2019-03-01  2019-03-04  2019-03-05  2019-03-06  2019-03-07
symbol
AAPL      25886167    27436203    19737419    20810384    24796374
AMZN       4974877     6167358     3681522     3996001     4957017
GOOG       1450316     1446047     1443174     1099289     1166559

â–¶ 2019ë…„ 3ì›” 1ì¼ì˜ ì• í”Œ ê±°ë˜ëŸ‰ì´ ê°€ì¥ ë†’ì€ ê²ƒì„ ì•Œ ìˆ˜ ìˆìŒ!

In [46]:
#ë‚ ì§œ(date) ì»¬ëŸ¼ì„ ì¸ë±ìŠ¤ë¡œ í•˜ì—¬ ê¸°ì—…ë³„ ì¢…ê°€ í™•ì¸í•˜ê¸°

data_stock.pivot(index='date', columns='symbol', values='close')

symbol        AAPL     AMZN     GOOG
date
2019-03-01  174.97  1671.73  1140.99
2019-03-04  175.85  1696.17  1147.80
2019-03-05  175.53  1692.43  1162.03
2019-03-06  174.52  1668.95  1157.86
2019-03-07  172.50  1625.95  1143.30

In [47]:
pd.pivot_table(data_stock, values='close', index='date', columns='symbol')

symbol        AAPL     AMZN     GOOG
date
2019-03-01  174.97  1671.73  1140.99
2019-03-04  175.85  1696.17  1147.80
2019-03-05  175.53  1692.43  1162.03
2019-03-06  174.52  1668.95  1157.86
2019-03-07  172.50  1625.95  1143.30

â–¶ pivot() í•¨ìˆ˜ì™€ pivot_table() í•¨ìˆ˜ ëª¨ë‘ ë™ì¼í•œ ê²°ê³¼ë¥¼ ì–»ì„ ìˆ˜ ìˆìŒ

## ğŸ“Œë³µí•© ê°œì²´ë¥¼ ê°œë³„ ê°œì²´ë¡œ ë¶„ë¦¬í•˜ê¸°
- ë°ì´í„°ì— ë³µí•©ì ì¸ ê°’ì´ í¬í•¨ë˜ì–´ ìˆë‹¤ë©´ ë¶„ì„ì´ í˜ë“¤ê¸° ë•Œë¬¸ì— ë¶„ë¦¬í•´ì£¼ëŠ” ê²ƒì´ ì¢‹ìŒ

In [49]:
data_e = pd.DataFrame({
    'ì¬ë£Œ' : [['ë°€ê°€ë£¨', 'ì„¤íƒ•', 'ê³„ë€'], 'ë°€ê°€ë£¨', [], ['ë²„í„°', 'ìƒí¬ë¦¼']]
    ,'ì‹œê°„' : 10
    ,'ë°©ì‹' : [['êµ½ê¸°', 'ë³¶ê¸°'], np.nan, [], ['ë³¶ê¸°', 'ì„ê¸°']]
})

data_e

              ì¬ë£Œ  ì‹œê°„        ë°©ì‹
0  [ë°€ê°€ë£¨, ì„¤íƒ•, ê³„ë€]  10  [êµ½ê¸°, ë³¶ê¸°]
1            ë°€ê°€ë£¨  10       NaN
2             []  10        []
3      [ë²„í„°, ìƒí¬ë¦¼]  10  [ë³¶ê¸°, ì„ê¸°]

In [50]:
#explode() : ê¸°ë³¸ì ìœ¼ë¡œ 1ê°œì˜ ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„° ë¶„ë¦¬
#'ì¬ë£Œ' ì»¬ëŸ¼ ë¶„ë¦¬í•˜ê¸°

data_e.explode('ì¬ë£Œ')

    ì¬ë£Œ  ì‹œê°„        ë°©ì‹
0  ë°€ê°€ë£¨  10  [êµ½ê¸°, ë³¶ê¸°]
0   ì„¤íƒ•  10  [êµ½ê¸°, ë³¶ê¸°]
0   ê³„ë€  10  [êµ½ê¸°, ë³¶ê¸°]
1  ë°€ê°€ë£¨  10       NaN
2  NaN  10        []
3   ë²„í„°  10  [ë³¶ê¸°, ì„ê¸°]
3  ìƒí¬ë¦¼  10  [ë³¶ê¸°, ì„ê¸°]

In [51]:
#ì¶”ê°€ì ìœ¼ë¡œ ë¶„ë¦¬í•˜ê³  ì‹¶ë‹¤ë©´ explode() ì¤‘ë³µí•´ì„œ ì‚¬ìš©

data_e.explode('ì¬ë£Œ').explode('ë°©ì‹')

    ì¬ë£Œ  ì‹œê°„   ë°©ì‹
0  ë°€ê°€ë£¨  10   êµ½ê¸°
0  ë°€ê°€ë£¨  10   ë³¶ê¸°
0   ì„¤íƒ•  10   êµ½ê¸°
0   ì„¤íƒ•  10   ë³¶ê¸°
0   ê³„ë€  10   êµ½ê¸°
0   ê³„ë€  10   ë³¶ê¸°
1  ë°€ê°€ë£¨  10  NaN
2  NaN  10  NaN
3   ë²„í„°  10   ë³¶ê¸°
3   ë²„í„°  10   ì„ê¸°
3  ìƒí¬ë¦¼  10   ë³¶ê¸°
3  ìƒí¬ë¦¼  10   ì„ê¸°

# 4.3 ë°ì´í„° ë³‘í•© í›„ ì²˜ë¦¬í•˜ê¸°

## ğŸ“Œë³‘í•© í›„ ì¤‘ë³µ í–‰ í™•ì¸ ë° ì²˜ë¦¬

In [52]:
d = pd.DataFrame({
    'íŒ¨ì…˜ì•„ì´í…œ' : ['íŒ¬ì¸ ', 'íŒ¬ì¸ ', 'ìì¼“', 'ìì¼“', 'ìì¼“']
    ,'ìŠ¤íƒ€ì¼' : ['ìºì£¼ì–¼', 'ìºì£¼ì–¼', 'ìºì£¼ì–¼', 'ë¹„ì¦ˆë‹ˆìŠ¤ë£©', 'ë¹„ì¦ˆë‹ˆìŠ¤ë£©']
    ,'ì„ í˜¸ë„(5ì )' : [4, 4, 3.5, 4.2, 2.7]
})

d

  íŒ¨ì…˜ì•„ì´í…œ    ìŠ¤íƒ€ì¼  ì„ í˜¸ë„(5ì )
0    íŒ¬ì¸     ìºì£¼ì–¼      4.0
1    íŒ¬ì¸     ìºì£¼ì–¼      4.0
2    ìì¼“    ìºì£¼ì–¼      3.5
3    ìì¼“  ë¹„ì¦ˆë‹ˆìŠ¤ë£©      4.2
4    ìì¼“  ë¹„ì¦ˆë‹ˆìŠ¤ë£©      2.7

In [53]:
d.duplicated(keep='first') #keep : ì¤‘ë³µ í–‰ì´ ìˆì„ ë•Œ, ì²«í–‰/ë§ˆì§€ë§‰í–‰ ì¤‘ ì–´ëŠê²ƒì— ì²´í¬í•  ê²ƒì¸ì§€ ì—¬ë¶€ (first, last, False)

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [54]:
d.duplicated(keep='first').value_counts()

False    4
True     1
dtype: int64

In [58]:
#íŠ¹ì • ì»¬ëŸ¼ ì¤‘ë³µ ë°ì´í„° í™•ì¸í•˜ê¸°

d.duplicated(subset=['ìŠ¤íƒ€ì¼']).value_counts()

True     3
False    2
dtype: int64

In [59]:
#ì¤‘ë³µ í–‰ ì¤‘ 1ê°œë§Œ ë‚¨ê¸°ê³  ì‚­ì œ

d.drop_duplicates(subset=['íŒ¨ì…˜ì•„ì´í…œ', 'ìŠ¤íƒ€ì¼'], keep='last')

  íŒ¨ì…˜ì•„ì´í…œ    ìŠ¤íƒ€ì¼  ì„ í˜¸ë„(5ì )
1    íŒ¬ì¸     ìºì£¼ì–¼      4.0
2    ìì¼“    ìºì£¼ì–¼      3.5
4    ìì¼“  ë¹„ì¦ˆë‹ˆìŠ¤ë£©      2.7

## ğŸ“Œ2ê°œ ë°ì´í„° ë¹„êµí•˜ì—¬ ë‹¤ë¥¸ ë¶€ë¶„ íŒŒì•…
- ë™ì¼í•œ ì»¬ëŸ¼ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ë³‘í•©í•  ë•ŒëŠ” ì–´ëŠ ê°’ì´ ë‹¤ë¥¸ì§€ íŒŒì•…í•˜ëŠ” ê²ƒì´ ì¤‘ìš”
- ì¼ì • ê¸°ê°„ì´ ì§€ë‚œ í›„ ë°ì´í„° ì—…ë°ì´íŠ¸ ë˜ëŠ” ì–´ë– í•œ ìƒí™©ìœ¼ë¡œ ê¸°ì¡´ ê°’ì´ ë³€ê²½ ë“±ë“±ì˜ ìƒí™©ì´ ìˆìŒ

### ë°ì´í„° ê¸¸ì´ê°€ ë™ì¼í•œ ë°ì´í„° ë¹„êµ

In [62]:
fashion = pd.DataFrame({
    'íŒ¨ì…˜ì•„ì´í…œ' : ['íŒ¬ì¸ ', 'íŒ¬ì¸ ', 'ìì¼“', 'ìì¼“', 'íŒ¬ì¸ ']
    ,'ì„ í˜¸ë„' : [1.0, 2.0, 3.0, np.nan, 5.0]
    ,'í‰ì ' : [1.0, 2.0, 3.0, 4.0, 5.0]
})

fashion

  íŒ¨ì…˜ì•„ì´í…œ  ì„ í˜¸ë„   í‰ì
0    íŒ¬ì¸   1.0  1.0
1    íŒ¬ì¸   2.0  2.0
2    ìì¼“  3.0  3.0
3    ìì¼“  NaN  4.0
4    íŒ¬ì¸   5.0  5.0

In [63]:
#ë°ì´í„°í”„ë ˆì„ ë³µì œ í›„ ì¼ë¶€ ê°’ ë³€ê²½

fashion2 = fashion.copy()
fashion2.loc[0, 'íŒ¨ì…˜ì•„ì´í…œ'] = 'ìŠ¤ì»¤íŠ¸'
fashion2.loc[2, 'í‰ì '] = 4.0
fashion2

  íŒ¨ì…˜ì•„ì´í…œ  ì„ í˜¸ë„   í‰ì
0   ìŠ¤ì»¤íŠ¸  1.0  1.0
1    íŒ¬ì¸   2.0  2.0
2    ìì¼“  3.0  4.0
3    ìì¼“  NaN  4.0
4    íŒ¬ì¸   5.0  5.0

In [64]:
#ë¹„êµ 
#ì°¨ì´ê°€ ì—†ëŠ” ê²½ìš° NaN ì¶œë ¥

fashion.compare(fashion2)

  íŒ¨ì…˜ì•„ì´í…œ         í‰ì
   self other self other
0    íŒ¬ì¸    ìŠ¤ì»¤íŠ¸  NaN   NaN
2   NaN   NaN  3.0   4.0

In [65]:
#ë¹„êµ 
#ì°¨ì´ê°€ ì—†ëŠ” ê²½ìš° ì›ë³¸ ë°ì´í„°ë¥¼ ë³´ê³  ì‹¶ì€ ê²½ìš° -> keep_equal=True

fashion.compare(fashion2, keep_equal=True)

  íŒ¨ì…˜ì•„ì´í…œ         í‰ì
   self other self other
0    íŒ¬ì¸    ìŠ¤ì»¤íŠ¸  1.0   1.0
2    ìì¼“    ìì¼“  3.0   4.0

In [66]:
#ë¹„êµ 
#ê²°ê³¼ë¥¼ ì„¸ë¡œì¶•ìœ¼ë¡œ ë³€ê²½

fashion.compare(fashion2, align_axis=0)

        íŒ¨ì…˜ì•„ì´í…œ   í‰ì
0 self     íŒ¬ì¸   NaN
  other   ìŠ¤ì»¤íŠ¸  NaN
2 self    NaN  3.0
  other   NaN  4.0

In [67]:
#ì „ì²´ ë°ì´í„° ì‚¬ì´ì¦ˆ ìœ ì§€í•œ ì±„ ë¹„êµí•œë‹¤ë©´
#keep_shape=True

fashion.compare(fashion2, keep_shape=True)

  íŒ¨ì…˜ì•„ì´í…œ        ì„ í˜¸ë„         í‰ì
   self other self other self other
0    íŒ¬ì¸    ìŠ¤ì»¤íŠ¸  NaN   NaN  NaN   NaN
1   NaN   NaN  NaN   NaN  NaN   NaN
2   NaN   NaN  NaN   NaN  3.0   4.0
3   NaN   NaN  NaN   NaN  NaN   NaN
4   NaN   NaN  NaN   NaN  NaN   NaN

### ë°ì´í„° ê¸¸ì´ê°€ ë‹¤ë¥¸ ë°ì´í„° ë¹„êµ

In [68]:
d1 = pd.DataFrame({
    'íŒ¨ì…˜ì•„ì´í…œ' : ['íŒ¬ì¸ ', 'ìŠ¤ì»¤íŠ¸', 'ìì¼“', 'í‹°ì…”ì¸ ', 'ë¸”ë¼ìš°ìŠ¤', 'ë² ìŠ¤íŠ¸']
    ,'í‰ì ' : [1.0, 2.0, 3.0, 4.0, 5.0, 6.0]
})
d1

  íŒ¨ì…˜ì•„ì´í…œ   í‰ì
0    íŒ¬ì¸   1.0
1   ìŠ¤ì»¤íŠ¸  2.0
2    ìì¼“  3.0
3   í‹°ì…”ì¸   4.0
4  ë¸”ë¼ìš°ìŠ¤  5.0
5   ë² ìŠ¤íŠ¸  6.0

In [69]:
d2 = pd.DataFrame({
    'íŒ¨ì…˜ì•„ì´í…œ' : ['íŒ¬ì¸ ', 'ìŠ¤ì»¤íŠ¸', 'ìì¼“', 'í‹°ì…”ì¸ ', 'ë¸”ë¼ìš°ìŠ¤', 'ë² ìŠ¤íŠ¸', 'íŒ¨ë”©']
    ,'í‰ì ' : [1.0, 5.0, 3.0, 3.0, 5.0, 6.0, 1.5]
})
d2

  íŒ¨ì…˜ì•„ì´í…œ   í‰ì
0    íŒ¬ì¸   1.0
1   ìŠ¤ì»¤íŠ¸  5.0
2    ìì¼“  3.0
3   í‹°ì…”ì¸   3.0
4  ë¸”ë¼ìš°ìŠ¤  5.0
5   ë² ìŠ¤íŠ¸  6.0
6    íŒ¨ë”©  1.5

In [70]:
#ê¸¸ì´ê°€ ì„œë¡œ ë‹¤ë¥´ê¸° ë•Œë¬¸ì— ê°€ì¥ ê¸´ ê¸¸ì´ë¥¼ ê¸°ì¤€ìœ¼ë¡œ 

d1.eq(d2)

   íŒ¨ì…˜ì•„ì´í…œ     í‰ì
0   True   True
1   True  False
2   True   True
3   True  False
4   True   True
5   True   True
6  False  False

In [72]:
d2[d1.eq(d2).all(axis=1) == False]

  íŒ¨ì…˜ì•„ì´í…œ   í‰ì
1   ìŠ¤ì»¤íŠ¸  5.0
3   í‹°ì…”ì¸   3.0
6    íŒ¨ë”©  1.5